html {
  font-size: 21px;
}

body {
  background-color: bisque;
}

.logocaption {
  font-size: 13px;
}

.about {
  font-size: 19px;
}

.home {
  font-size: 19px;
}

.juls1 {
  float: left;
  margin-top: 2px;
  margin-right: 10px;
}

table,
tr,
td,
caption {
  border: 1px solid black;
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}
